<form (ngSubmit)="onSubmit()">
    <app-control lable="title">
        <!-- <label for="">Title</label> -->
        <input id="title" name="title">
    </app-control>
    <app-control lable="request">
        <!-- <label >Request</label> -->
        <textarea id="request" name="request" rows="3"></textarea>
    </app-control>
    <p>
        <button appButton>
            
              submit
           
            <span ngProjectAs="icon">
              ▷
            </span>
          </button>
    </p>
    

    
</form>
